h1 {
   
    font-family:"Impact", "Charcoal", sans-serif;
    color:white;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    
    padding-top: 100px;

    
}

html {
    background:#00005D; 
}
ul {
    list-style-type: none;
    top:0;
    position: fixed;
    background: black;
    overflow: hidden;
    padding-left: 0;
    width:100%;
    margin-top: 0;
    
}
li {
    top: 0;
    left: 0;
    float: left;   
    width: 33%;  
}
li a{
    display: block;
    height: 40px;
    text-align: center;
    color: white;
    align-items: center;
    font-size: 25px; 
    padding-top: 10px;
}
li a:hover{
    background-color:#10D010;
    color: black
}
li a:last-child{
    border-right: 1px solid black;
}
#LI1, #LI2 {
    border-right: 1px solid white;
}
#par1, #par2{
    width: 20%;
    border: 1.5px solid azure;
    position:relative;
    text-align: center;
    left: 40%;
    top: 50px;
    background-color: black;
}
#par1 a {
    display: block;    
    padding-top: 15px;
    padding-bottom: 15px;
    color: azure
}
#par2 a {
    display: block;
    padding-bottom: 15px;
    color: azure
}


